/* global CSS values */

/* global rules to override any browser CSS and to set global values */
.hidden {
    display: none;
}

.small {
    font-size: 75%;
}

h3, p, label {
    margin: 0.25em 0;
}

input, textarea {
    margin: 0.25em;
}

a {
    color: #34345c;
}

/* import resources here; external CSS, fonts, etc */
@font-face {
    font-family: 'Liberation Sans';
    src: url('http://static.lynx.home.local/LiberationSans-Regular.ttf') format('truetype');
}
    
/* body styles, inherited by whole page */
body {
    color: #000;
    background-color: #eef2ff;
    font-family: "Liberation Sans", sans;
    font-size: 100%;
    margin: 0px;
}

/* header and nav / top of page styles */
header {
    width: 50%;
    margin: 3em auto 0 auto;
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d6daf0;
    height: 1.25em;
}

nav a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-size: 75%;
    margin-left: 1em;
}

/* board list */
div#divBoards {
    width: 80%;
    margin: 1em auto 0.5em auto;
}

div.boardsCell, div.boardsCellHeader {
    width: 100%;
    margin: 0.25em;
}

div.boardsCell:nth-of-type(even) span {
    background-color: #d6daf0;
}

div.boardsCell span {
    display: inline-block;
    width: 18%;
    padding: 0.25em;
    text-overflow: ellipsis;
    text-decoration: none;
}

div.boardsCellHeader span {
    font-weight: bold;
    display: inline-block;
    width: 18%;
    border-bottom: 1px solid #000333;
    background-color: #98e;
    padding: 0.25em;
}

div.search {
    margin: 1em;
}

div#divPages {
    margin: 0.5em auto;
    width: 20%;
    text-align: center;
}

div#divPages a {
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
    background-color: #d6daf0;
    padding: 0 0.25em;
}

/* board banner */
header.boardHeader p {
    color: #af0a0f;
}

header.boardHeader p#labelName {
    font-size: 200%;
}

header.boardHeader p#labelDescription {
    font-size: 100%;
}

header.boardHeader a {
    font-size: 75%;
    display: block;
}

/* post new thread */
div#newThread {
    width: 30em;
    margin: 1em auto;
    padding: 0.5em;
}

div#newThread label {
    width: 100%;
    display: block;
    vertical-align: middle;
    background-color: #d6daf0;
}

div#newThread div#divName {
    display: inline;
}

div#newThread label span {
    width: 20%;
    display: inline-block;
    background-color: #98e;
    padding: 0.25em;
}

div#newThread label#comment textarea {
    width: 70%;
    max-width: 70%;
    min-width: 70%;
    height: 4em;
}

div#newThread label#comment span {
    vertical-align: top;
    height: 3em;
}

div#newThread label.narrow input {
    width: 40%;
}

#jsButton, #formButton {
    font: inherit;
    overflow: visible;
    text-transform: none;
    padding: 0.2em 1em 0.25em;
    background: rgba(255, 255, 255, 0.35) none repeat scroll 0% 0%;
    border: 1px solid #34345C;
    box-sizing: border-box;
    outline: 0px none;
    cursor: pointer;
    color: #34345C;
    font-weight: bold;
    font-size: 1.07143rem;
    line-height: 1.4545em;
    text-align: center;
    width: 118px;
    margin: 0px 5px 0px 0px;
    vertical-align: middle;
}

/* thread report form */
div#threadReport {
    
}

div#threadReport label, div#threadReport img {
    display: block;
}

div#threadReport label.checkbox {
    display: inline-block;
}

/* thread pages */
div.threadPages {
    margin: 1em;
}

div.threadPages a {
    padding-right: 0.5em;
    font-size: 125%;
    text-decoration: none
}

#linkNext, #linkPrevious {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.35) none repeat scroll 0% 0%;
    border: 1px solid #34345C;
    box-sizing: border-box;
    outline: 0px none;
    cursor: pointer;
    display: inline-block;
}

/* thread list, some elements are in the post section */
div#threadList {
    margin: 1em;
    font-size: 75%;
}

/* posts */
.opCell hr {
    height: 1px;
    color: #e9edf3;
}

.innerPost, .markedPost {
    background-color: #D6DAF0;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    padding-right: 0.25em;
    max-width: 100%;
    border-color: #B7C5D9;
    border-width: medium 1px 1px medium;
    border-style: none solid solid none;
}

.markedPost {
    background-color: #D6BAD0;
}

.linkName {
    font-weight: bold;
    color: #0F0C5D;
}

.linkName:hover {
    color: #ff0000;
}

.noEmailName, .noEmailName:hover {
    color: #117743;
}

.quoteLink {
    color: #ff0000;
}

.linkSelf {
    color: #000000;
    text-decoration: none;
}

.linkSelf:hover {
    color: #ff0000;
}

.linkQuote {
    color: #000000;
    text-decoration: none;
}

.linkQuote:hover {
    color: #ff0000;
}

.labelSubject {
    color: #0F0C5D;
    font-weight: bold;
}

.labelRole {
    color: #ff0000;
    font-weight: bold;
}

.divMessage {
    clear: both;
    font-size: 125%;
    margin-left: 3em;
    margin-top: 1em;
    word-wrap: break-word;
}

.divBanMessage {
    color: #ff0000;
    font-weight: bold;
    margin-top: 1em;
    margin-left: 1em;
    font-size: 120%;
}

.uploadCell {
    float: left;
    margin: 0.25em;
}

/* this forces images into new pages? .imgExpanded {
    width: 100%;
} */

.hideLink {
    color: #000;
    background: #fff;
    vertical-align: top;
}

/* dafuq is this? */
.aa {
    font-family: Mona, "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
    display: block !important;
    font-size: 12pt;
    line-height: 1.1;
}

.labelLastEdit {
  margin-top: 10px;
  margin-left: 10px;
}

/* markdown */
.greenText {
    color: #789922;
}

.redText {
    color: #AF0A0F;
    font-weight: bold;
}

span.spoiler {
    background: #fff;
    color: #fff;
    padding: 0 1px;
}

.spoiler:hover {
    color: #000;
}

/* footer styles */
footer {
    width: 100%;
    height: 2em;
    background-color: #d6daf0;
}

footer p, footer a {
    display: inline-block;
}
